.details .title {
    padding: 5px;
    margin-bottom: 5px;
    background: rgb(210, 225, 237);
}
.details .body {
    font-size :8px;
    color: slategray;
}
.green , .red {
    width: fit-content;
    padding: 2px;
    border-radius: 3px;
    font-size: 9px;
    color: white;
    border: 0.5px solid black;
    
}
.red {
    background: red;
}
.green {
    background: green;
}

button {
    background: blue;
    color: white;
    border: none;
    padding : 3px 7px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 8px;
}
.sub-menu {
    margin: 20px 0;
}
.sub-menu a {
    text-decoration: none;
    color: white;
    margin-left: 5px;
}
.sub-menu span {
    padding: 5px;
    display: inline-block;
    background: darkgray;
}
.sub-menu .active span {
    background: rgb(12,48,109);
}