.header {
    background: rgb(35, 84, 169);
    display: flex;
}

.header a {
    color: white;
    text-decoration: none;
}

.header span {
    padding: 5px;
    display: inline-block;
}
.header .active {    /* .active class is a feature of NavLink. it applies when the link is active */
    background: darkblue;
    border-bottom: white 2px solid;
}